#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 5px;
    margin: 50px 100px;
    width: fit-content;
}

#trash {
    width: 60px;
    height: 60px;
    top: 50px;
    left: 650px;
    background-color: red;
    position: absolute;
}

.square {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.piece {
    width: 50px;
    height: 50px;
    background-color: #3498db; /* blue piece */
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.piece:hover {
    background-color: #2980b9;
}

